/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Lexend&family=Open+Sans+Condensed:wght@300&family=Oswald:wght@300&display=swap');
/*
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Oswald', sans-serif;
*/
/* FORM */
body {
    background: #b5179e;
}

* {
    margin:0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

#aria-forms {
    margin-top: 30px;
    margin-bottom: 50px;
}

/* align center forms */
.form {
    margin: 0 auto;
}

fieldset {
    padding: 1em 2em;
    border: none;
    background-color: #f72585;
}

legend {
    font-family: 'Oswald', sans-serif;
    font-size: 1.25em;
    padding: 0;
    color: rgb(228, 196, 17);
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    position: relative;
    top: 1em;
}

label {
    /* align label horizontally */
    display: block;
    margin-top: 1em;
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #fff;
}

/* add margin top to the first label only */
label:first-of-type {
    margin-top: 2em;
}

.check {
    margin-top: .5em;
    font-size: .9em;
}

 #checkLabel {
    display: inline-block;
    margin-top: 0;
    align-items: center;
}

/* buttons */
input[type="submit"] {
    display: block;
    padding:0.35em 1.2em;
    border-radius: 0;
    margin-top: 25px;
    background-color: #7209b7;
    color: #fff;
    font-size: 1.2em;
    border: none;
    transition: all 0.2s;
}

input[type="submit"]:hover {
    color: #fff;
    background-color: #480ca8;
}

/* inputs */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"] {
    background-color: #4cc9f0;
    border: none;
    border-radius: 0;
    color: #fff;
    font-size: 1.1rem;
    width: 15em;
    padding: 10px;
}


.login-form {
    position: relative;
}

i.fas {
    padding: 10px;
    font-size: 1.2rem;
    display: inline-block;
    color: rgb(252, 255, 58);
}

.tooltip {
    display: none;
}
   
.tooltipText {
    position: absolute;
    background-color: rgb(113, 14, 105);
    color: #fff;
    padding: .5em 1.5em .5em .5em;
    bottom: 30px;
    left: 222px;
    font-size: 1rem;
    display: none;
}

/* style triangle at the bottom of the rectangular box */
.tooltipText:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 36%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(113, 14, 105) transparent transparent transparent;
}

.tooltipText a { 
    color: #fff; 
}

/* close button */
i.fas.fa-times-circle {
    color: #fff;
    position: absolute;
    bottom: -4px;
    right: -2px;
}

label { 
    cursor: pointer;
}

/* ARIA custom checkbox */
[role="checkbox"] {
    font-family: "Font Awesome 5 Free";
    font-size: 1.2rem;
    font-style: normal;
    color: #1607ec;
    padding-right: .25em;
}

/* empty checkbox */
[aria-checked="true"]::before {
    content: "\f0c8";
}

/* checked box */
[aria-checked="false"]::before {
    content: "\f14a";
}


 @media screen and (min-width: 430px) {
    legend {
        font-size: 1.75em;
    }
    fieldset {
        width: 40%;
        min-width: 320px;
    }
}


